.content{
    margin: 1em auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.title{
    text-align: center;
}

.movies{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}


@media(max-width: 768px){
    .title{
        font-size: 1rem;
        text-align: start;
    }
}
