.searchInput{
    background: #fff;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem #eee;
}

.searchInput input{
    border: none;
    padding: 0.5rem;
}

.searchInput input::placeholder{
    color: #777;
}

button{
    border: none;
    padding: 0.5rem;
    background: transparent;
}

.icon{
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.icon:hover{
    color: #f14;
}